<%- include('../layouts/header', {titulo:'Lista de Tarefas'}) %>
<%- include('../layouts/menu', {nome: 'francisco'}) %>

<section class="section">
    <div class="container">
        <h1 class="tittle size-4">Nova lista</h1>
        <%- include('form', {url:'/checklist', checklist:checklist})%>
    </div>
</section>

<%- include('../layouts/footer', {}) %>