<nav class="navbar is-black">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Todo list</a>
    </div>
    <div class="navbar-burger burger" data-target="navMenuColorBlack-example">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>